commands:
  create_post_dir:
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
files:
  "/opt/elasticbeanstalk/hooks/appdeploy/pre/02_sampletemplate.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      
      mkdir -p /tmp/.elasticbeanstalk
      echo "environment: env-b" > /tmp/.elasticbeanstalk/config.yml
      echo "environment-defaults:" >> /tmp/.elasticbeanstalk/config.yml
      echo "env-b:" >> /tmp/.elasticbeanstalk/config.yml
      echo "application_name: sample" >> /tmp/.elasticbeanstalk/config.yml
      echo "default_ec2_keyname: julia" >> /tmp/.elasticbeanstalk/config.yml
      echo "default_platform: arn:aws:elasticbeanstalk:us-east-1::platform/Node.js running on
      64bit Amazon Linux/4.3.0" >> /tmp/.elasticbeanstalk/config.yml
      echo "default_region: us-east-1" >> /tmp/.elasticbeanstalk/config.yml
